<template>
  <ol class="breadcrumb">
    <li
      class="breadcrumb-item"
      v-for="breadcrumb in breadcrumbs"
      v-bind:class="{ active: is_active(breadcrumb) }"
    >
      <router-link
        :to="breadcrumb.to"
        v-if="!is_active(breadcrumb)"
      >
        {{breadcrumb.name}}
      </router-link>
      <span v-else>{{breadcrumb.name}}</span>
    </li>
    <slot></slot>
  </ol>
</template>

<script>
  export default {
    props: {
      home: {
        type: Boolean,
        default: false,
      },
      opt_in: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      path_parts(){
        return this.$route.path.split("/");
      },
      regexes_to_names(){
        if(this.matched_routes){
          return this.matched_routes.map(
            matched_route => ({
              regex: matched_route.regex,
              name: matched_route.instances.default && matched_route.instances.default.breadcrumb
            })
          )
        } else {
          return [];
        }
      },
      breadcrumbs(){
        let breadcrumbs = [];
        if(this.home){
          breadcrumbs.push({name: 'Home', to: { path: '/'}})
        }
        for(let path_part of this.path_parts){
          if(path_part){
            let path = this.$route.path.split(path_part)[0] + path_part;

            let matched_name = this.regexes_to_names.find(
              matched_route => matched_route.regex.test(path)
            );

            if(matched_name && matched_name.name){
              breadcrumbs.push({name: matched_name.name, to: {path: path}});
            } else if(!this.opt_in){
              let name = this.breadcrumbify(path_part);
              if(name){
                breadcrumbs.push({name: name, to: {path: path}});
              }
            }
          }
        }
        return breadcrumbs;
      },
    },
    asyncComputed:{
      async matched_routes(){
        if(this.$route){
          await this.$route;
          return this.$route.matched;
        }
      },
    },
    methods: {
      is_active(breadcrumb){
        return breadcrumb === this.breadcrumbs[this.breadcrumbs.length - 1]
      },
      breadcrumbify(str) {
        return str.replace(
          '_', ' '
        ).replace(
          /\w\S*/g,
          txt => txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase()
        );
      },
    },
  }
</script>
